.background {
  viewport-fill: black;
}

#hourLabel {
  font-size: 148;
  font-family: Colfax-Thin;
  text-length: 32;
  text-anchor: end;
  x: 60%;
  y: 60%+20;
  fill: #2490DD;
}

#minuteLabel {
  font-size: 96;
  font-family: Colfax-Thin;
  text-length: 32;
  text-anchor: start;
  x: 60%;
  y: 60%+20;
  fill: white;
}

#dateLabel {
  font-size: 20;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: start;
  x: 0%;
  y: 10%;
  fill: white;
}

#appointmentsLabel {
  font-size: 28;
  font-family: Colfax-Light;
  text-length: 128;
  text-anchor: start;
  x: 0%;
  y: 75%;
  width: 90%;
  fill: white;
}

#batteryLabel {
  font-size: 20;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: start;
  x: 85%;
  y: 10%;
  fill: white;
}

#activityLabel {
  font-size: 28;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: start;
  x: 50%+30;
  y: 80%+25;
  fill: white;
}

#heartrateLabel {
  font-size: 28;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: start;
  x: 10%+35;
  y: 80%+25;
  fill: white;
}

.activityIcon {
  fill: #2490DD
}

.batteryIcon {
  fill: #FFFFFF
}