.background {
  viewport-fill: black;
}

#hourLabel {
  font-size: 124;
  font-family: Colfax-Thin;
  text-length: 32;
  text-anchor: middle;
  x: 40%;
  y: 50%+20;
  fill: #2490DD;
}

#minuteLabel {
  font-size: 72;
  font-family: Colfax-Thin;
  text-length: 32;
  text-anchor: middle;
  x: 72%;
  y: 50%+20;
  fill: white;
}

#dateLabel {
  font-size: 20;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: start;
  x: 15%;
  y: 10%;
  fill: white;
}

#appointmentsLabel {
  font-size: 28;
  font-family: Colfax-Light;
  text-length: 128;
  text-anchor: start;
  x: 0%;
  y: 75%;
  width: 90%;
  fill: white;
}

#batteryLabel {
  font-size: 20;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: start;
  x: 85%;
  y: 10%;
  fill: white;
}
